MONGODB_USER=your_username
MONGODB_PASSWORD=your_password
MONGODB_URL=your_cluster.mongodb.net
MONGODB_DB=your_database_name
PORT=3000

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

JWT_SECRET=your_secret
APP_DOMAIN=http://localhost:3000/auth

CLOUD_NAME=
API_KEY=
API_SECRET=
ENABLE_CLOUDINARY=false
